First: download source file (18.3GB) e.g. using the following:

wget https://obis-datasets.ams3.digitaloceanspaces.com/exports/obis_20240723.parquet

In [1]:
import pandas as pd

In [2]:
columns_to_extract = ['dataset_id', 'decimalLongitude', 'decimalLatitude', 'date_year']

output_file = 'obis_filtered.csv'

In [3]:
df = pd.read_parquet('obis_20240723.parquet', columns=columns_to_extract)

In [5]:
df.to_csv(output_file, index=False)

In [4]:
df

,dataset_id,decimalLongitude,decimalLatitude,date_year
0,0c1cb7e9-c7d1-4643-b245-daa8839a183f,-3.135050,58.911831,2009.0
1,0c1cb7e9-c7d1-4643-b245-daa8839a183f,-6.887870,58.217499,2010.0
2,0c1cb7e9-c7d1-4643-b245-daa8839a183f,1.281997,58.690365,2006.0
3,0c1cb7e9-c7d1-4643-b245-daa8839a183f,-1.104040,60.327461,2008.0
4,0c1cb7e9-c7d1-4643-b245-daa8839a183f,1.744569,61.393002,2006.0
...,...,...,...,...
128621182,38535a43-2982-4479-88c1-8303f7ee8665,-72.773804,38.820202,1983.0
128621183,38535a43-2982-4479-88c1-8303f7ee8665,-72.773804,38.820202,1983.0
128621184,38535a43-2982-4479-88c1-8303f7ee8665,-72.773804,38.820202,1983.0
128621185,38535a43-2982-4479-88c1-8303f7ee8665,-72.773804,38.820202,1983.0
128621186,38535a43-2982-4479-88c1-8303f7ee8665,-72.773804,38.820202,1983.0

Result expected is 128621187 rows × 4 columns